<div>
  <p>Welcome to Tabs Not Spaces! A site dedicated to the seemingly eternal debate about tabs and spaces.  When will
    they learn that Tabs are greater than Spaces?</p>
	<ul class="main-reasons">
		<li>All projects need consistency</li>
		<li>Different developers have different preferences</li>
		<li>Each developer can choose their own tab size</li>
	</ul>
</div>
<div>
  <p>Sometimes developers don't understand the importance of consistance:</p>
  <img src="http://resources.steward-digital.com/dropbox/inconsistancy-tabs-not-spaces.png" alt="example of inconsistancy"/>
</div>

